@page
@model inov1010_001_RankUp_Final.Pages.WinButtonModel
@{
}
    <form method="post">

        score player a:<br>
        <input type="number" name="scoreplayera"><br>
        score player b: <br>
        <input type="number" name="scoreplayera"><br>
        <input type="submit" value="Submit">
    </form>